# Semantic Web3 DAO

## Knowledge graph

### Domain: Decentralized Autonomous Organization (DAO)

Creation date: September 2022

Author: Maria-Cruz Valiente

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from IPython.display import Image
import nxviz as nv

# DAOhaus

## 1. Import data files

In [3]:
# !tar xf datawarehouse/datawarehouse.tar.gz

### DAOs

In [3]:
daos_df = pd.read_feather('datawarehouse/daohaus/moloches.arr')
daos_df.head()

,network,id,name,version,summoner,summoningTime,timestamp,proposalCount,memberCount,voteCount,rageQuitCount,totalGas,molochAddress
0,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,Zaibatsu-DAO,2.1,0x8435d0a8f19f748cba91863b70eb986895ee4b49,1662046800,1662046800,2,1,1,0,25655591000000000,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9
1,arbitrum,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,None,2.1,0x399540044cd5fd63bbc6cbec55a14232f65b457b,1652432312,1652432312,0,1,0,0,4446544408757082,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a
2,arbitrum,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8,HIEROPHANT GREEN DAO,2.1,0xbe694be8e812ae1a99443b32041142c36597a772,1651054083,1651054083,0,1,0,0,1473413325719085,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8
3,arbitrum,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,None,2.1,0x0887a7d4ba8ed400f10b651b61ee49afa302c680,1636252707,1636252707,0,1,0,0,25403942773845900,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85
4,arbitrum,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc,arb2,2.1,0xefd534f9663e5b4730114c4e0abb8001654c14bf,1657739577,1657739577,0,1,0,0,1005106271075452,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc

In [4]:
daos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3324 entries, 0 to 3323
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   network        3324 non-null   object
 1   id             3324 non-null   object
 2   name           2632 non-null   object
 3   version        3324 non-null   object
 4   summoner       3324 non-null   object
 5   summoningTime  3324 non-null   object
 6   timestamp      3324 non-null   object
 7   proposalCount  3324 non-null   object
 8   memberCount    3324 non-null   object
 9   voteCount      3324 non-null   object
 10  rageQuitCount  3324 non-null   object
 11  totalGas       3324 non-null   object
 12  molochAddress  3324 non-null   object
dtypes: object(13)
memory usage: 337.7+ KB

In [5]:
# Field "id" is equivalent to field "molochAddress"
daos_df[daos_df["id"] != daos_df["molochAddress"]]

Empty DataFrame
Columns: [network, id, name, version, summoner, summoningTime, timestamp, proposalCount, memberCount, voteCount, rageQuitCount, totalGas, molochAddress]
Index: []

In [6]:
# Create new field "createAt": Convert to datetime the field "timestamp".
daos_df['createdAt'] = pd.to_datetime(daos_df['timestamp'], unit='s')
daos_df.head()

,network,id,name,version,summoner,summoningTime,timestamp,proposalCount,memberCount,voteCount,rageQuitCount,totalGas,molochAddress,createdAt
0,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,Zaibatsu-DAO,2.1,0x8435d0a8f19f748cba91863b70eb986895ee4b49,1662046800,1662046800,2,1,1,0,25655591000000000,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,2022-09-01 15:40:00
1,arbitrum,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,None,2.1,0x399540044cd5fd63bbc6cbec55a14232f65b457b,1652432312,1652432312,0,1,0,0,4446544408757082,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,2022-05-13 08:58:32
2,arbitrum,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8,HIEROPHANT GREEN DAO,2.1,0xbe694be8e812ae1a99443b32041142c36597a772,1651054083,1651054083,0,1,0,0,1473413325719085,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8,2022-04-27 10:08:03
3,arbitrum,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,None,2.1,0x0887a7d4ba8ed400f10b651b61ee49afa302c680,1636252707,1636252707,0,1,0,0,25403942773845900,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,2021-11-07 02:38:27
4,arbitrum,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc,arb2,2.1,0xefd534f9663e5b4730114c4e0abb8001654c14bf,1657739577,1657739577,0,1,0,0,1005106271075452,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc,2022-07-13 19:12:57

In [7]:
daos_df.createdAt.describe()

count                    3324
unique                   3280
top       2021-06-18 11:19:17
freq                        6
first     2019-02-14 08:01:37
last      2022-09-23 07:14:50
Name: createdAt, dtype: object

In [8]:
daos_df.molochAddress.value_counts()

0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b    2
0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9    1
0x55d2d4c65c649f04b75ad88df3338ff27c39763b    1
0x54d79e4e0094fae50dafe2c0cbd44301ac4e9704    1
0x54e47b9e968b418bbf1aec8193e22322ad8ef5c9    1
                                             ..
0x83aa7000d9fedad0ef78f9f5042a83d6bff727ca    1
0x8486a6fedc34fcb3d3a5a499eb47b63fc0fe513f    1
0x84c5b2ecd49359e6024b0b622369bb0794590794    1
0x84d07b96c1e3eaaf6c2ed878c7abcf6a97c53194    1
0xffe8a8ec2477390c6b97074f44326fac24d7f6dd    1
Name: molochAddress, Length: 3323, dtype: int64

In [9]:
# The same DAO, but in different networks => Error. 
daos_df[daos_df.molochAddress == '0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b']

,network,id,name,version,summoner,summoningTime,timestamp,proposalCount,memberCount,voteCount,rageQuitCount,totalGas,molochAddress,createdAt
577,mainnet,0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b,RealQuickDao,2,0xced608aa29bb92185d9b6340adcbfa263dae075b,1594417251,1594417294,0,1,0,0,3512421000000000,0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b,2020-07-10 21:41:34
3270,xdai,0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b,RealQuickDao,2,0xced608aa29bb92185d9b6340adcbfa263dae075b,1599065585,1599065630,28,1,19,14,678415684501877253,0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b,2020-09-02 16:53:50

In [10]:
# Delete one of them in order to clean data.
daos_df.drop(3270, inplace=True)

In [11]:
daos_df[daos_df.id == '0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b']

,network,id,name,version,summoner,summoningTime,timestamp,proposalCount,memberCount,voteCount,rageQuitCount,totalGas,molochAddress,createdAt
577,mainnet,0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b,RealQuickDao,2,0xced608aa29bb92185d9b6340adcbfa263dae075b,1594417251,1594417294,0,1,0,0,3512421000000000,0xf8484b3d9e8189d4743b0ecf35a87c58b76cee7b,2020-07-10 21:41:34

In [12]:
daos_df.reset_index(inplace =True, drop = True)

In [13]:
daos_df.molochAddress.value_counts()

0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9    1
0x55cd67ec877ef72318b56df59a4c287c0a7925d3    1
0x54ba4208a807e74be5d922a19416e5d060de3c87    1
0x54d79e4e0094fae50dafe2c0cbd44301ac4e9704    1
0x54e47b9e968b418bbf1aec8193e22322ad8ef5c9    1
                                             ..
0x83793ef50076ce0400d1ffc4ae6d9cef66b6602d    1
0x83aa7000d9fedad0ef78f9f5042a83d6bff727ca    1
0x8486a6fedc34fcb3d3a5a499eb47b63fc0fe513f    1
0x84c5b2ecd49359e6024b0b622369bb0794590794    1
0xffe8a8ec2477390c6b97074f44326fac24d7f6dd    1
Name: molochAddress, Length: 3323, dtype: int64

In [14]:
daos_df = daos_df[["molochAddress", "name", "network", "createdAt"]]
daos_df.head()

,molochAddress,name,network,createdAt
0,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,Zaibatsu-DAO,arbitrum,2022-09-01 15:40:00
1,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,None,arbitrum,2022-05-13 08:58:32
2,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8,HIEROPHANT GREEN DAO,arbitrum,2022-04-27 10:08:03
3,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,None,arbitrum,2021-11-07 02:38:27
4,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc,arb2,arbitrum,2022-07-13 19:12:57

In [15]:
daos_df.rename(columns = {'molochAddress':'daoAddress'}, inplace = True)
daos_df.head()

,daoAddress,name,network,createdAt
0,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,Zaibatsu-DAO,arbitrum,2022-09-01 15:40:00
1,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,None,arbitrum,2022-05-13 08:58:32
2,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8,HIEROPHANT GREEN DAO,arbitrum,2022-04-27 10:08:03
3,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,None,arbitrum,2021-11-07 02:38:27
4,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc,arb2,arbitrum,2022-07-13 19:12:57

In [16]:
daos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3323 entries, 0 to 3322
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   daoAddress  3323 non-null   object
 1   name        2631 non-null   object
 2   network     3323 non-null   object
 3   createdAt   3323 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 104.0+ KB

In [17]:
daos_df[daos_df["name"].isna()]

,daoAddress,name,network,createdAt
1,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,None,arbitrum,2022-05-13 08:58:32
3,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,None,arbitrum,2021-11-07 02:38:27
7,0x19b2b6c740884f34674c8fdf7072311703c34232,None,arbitrum,2022-07-10 18:19:10
8,0x1f30892dfbb665decf10d1ad9e183037d088f803,None,arbitrum,2022-04-28 14:33:29
9,0x207f9f27126e75fe48b577010078b1308d573069,None,arbitrum,2021-09-23 23:49:10
...,...,...,...,...
3293,0xfbf2755ade66b5ea5b32479f78c72c4243cd757a,None,xdai,2021-10-29 15:58:08
3298,0xfc4db029a51801e3a3a47348017e52769ff2c308,None,xdai,2021-12-18 20:05:45
3316,0xfeb8db3e033ed3cec78fff9ad3b43ac219db5c4b,None,xdai,2021-11-25 01:25:10
3317,0xfed1c9e27564b96053d00467c8e3de6baaebf02e,None,xdai,2021-11-12 14:38:30
3318,0xff07943f171b826b3618982a6213f157fbc5e226,None,xdai,2021-11-13 04:00:40

In [18]:
daos_df["name"].fillna("Unknown", inplace = True)

In [19]:
daos_df.shape

(3323, 4)

In [20]:
dao_np = daos_df.daoAddress.values
dao_np

array(['0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9',
       '0x0a96234adacd1e71c9b2a237cf12374f64e05e3a',
       '0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8', ...,
       '0xff4b20d48a1e8f93bf6745de388547e731f96fd0',
       '0xffb676765d521518ac5c0d4f4067a9db9b72901b',
       '0xffe8a8ec2477390c6b97074f44326fac24d7f6dd'], dtype=object)

In [21]:
dao_np.shape

(3323,)

In [22]:
# Remove duplicates
dao_np = np.unique(dao_np)

In [23]:
dao_np.shape

(3323,)

In [24]:
# Convert to list.
dao_list = dao_np.tolist()

In [25]:
len(dao_list)

3323

### Members

In [26]:
dao_members_df = pd.read_feather('datawarehouse/daohaus/members.arr')
dao_members_df

,network,id,createdAt,molochAddress,memberAddress,shares,loot,exists,didRagequit
0,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-mem...,1662046800,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,1,0,True,False
1,arbitrum,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a-mem...,1652432312,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,0x399540044cd5fd63bbc6cbec55a14232f65b457b,1,0,True,False
2,arbitrum,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8-mem...,1651054083,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8,0xbe694be8e812ae1a99443b32041142c36597a772,1,0,True,False
3,arbitrum,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85-mem...,1636252707,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,0x0887a7d4ba8ed400f10b651b61ee49afa302c680,10,0,True,False
4,arbitrum,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc-mem...,1657739577,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc,0xefd534f9663e5b4730114c4e0abb8001654c14bf,1,0,True,False
...,...,...,...,...,...,...,...,...,...
23707,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-mem...,1649900295,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0xda4ea032e9720468c3044b4a8e356568cfeb3e03,2,0,True,False
23708,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-mem...,1648067535,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0xda6e2ca279582a272afa2f702146747ee5bb988e,7,0,True,False
23709,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-mem...,1653538310,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0xdecda4a3ae29c4620ae08b61f6967502459e367d,50,0,True,False
23710,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-mem...,1662691880,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0xe4aaef7754147e723479c1b7cc8d636b29a4f5dc,0,0,False,False
23711,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-mem...,1655986260,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0xf2ddce6633e4a3aa4d09a93a1a850ca2cc322daa,10,0,True,False

In [27]:
dao_members_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23712 entries, 0 to 23711
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   network        23712 non-null  object
 1   id             23712 non-null  object
 2   createdAt      23712 non-null  object
 3   molochAddress  23712 non-null  object
 4   memberAddress  23712 non-null  object
 5   shares         23712 non-null  object
 6   loot           23712 non-null  object
 7   exists         23712 non-null  bool
 8   didRagequit    23712 non-null  bool
dtypes: bool(2), object(7)
memory usage: 1.3+ MB

In [28]:
dao_members_df['createdAt'] = pd.to_datetime(dao_members_df['createdAt'], unit='s')
dao_members_df.head()

,network,id,createdAt,molochAddress,memberAddress,shares,loot,exists,didRagequit
0,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-mem...,2022-09-01 15:40:00,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,1,0,True,False
1,arbitrum,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a-mem...,2022-05-13 08:58:32,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,0x399540044cd5fd63bbc6cbec55a14232f65b457b,1,0,True,False
2,arbitrum,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8-mem...,2022-04-27 10:08:03,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8,0xbe694be8e812ae1a99443b32041142c36597a772,1,0,True,False
3,arbitrum,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85-mem...,2021-11-07 02:38:27,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,0x0887a7d4ba8ed400f10b651b61ee49afa302c680,10,0,True,False
4,arbitrum,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc-mem...,2022-07-13 19:12:57,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc,0xefd534f9663e5b4730114c4e0abb8001654c14bf,1,0,True,False

In [29]:
# Only members that are in the DAOs.
dao_members_df = dao_members_df[dao_members_df['molochAddress'].isin(dao_list)]

In [30]:
dao_members_df = dao_members_df[["memberAddress", "molochAddress", "shares", "loot", "didRagequit", "createdAt"]]

In [31]:
dao_members_df.rename(columns = {'molochAddress':'daoAddress'}, inplace = True)
dao_members_df.head()

,memberAddress,daoAddress,shares,loot,didRagequit,createdAt
0,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,1,0,False,2022-09-01 15:40:00
1,0x399540044cd5fd63bbc6cbec55a14232f65b457b,0x0a96234adacd1e71c9b2a237cf12374f64e05e3a,1,0,False,2022-05-13 08:58:32
2,0xbe694be8e812ae1a99443b32041142c36597a772,0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8,1,0,False,2022-04-27 10:08:03
3,0x0887a7d4ba8ed400f10b651b61ee49afa302c680,0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85,10,0,False,2021-11-07 02:38:27
4,0xefd534f9663e5b4730114c4e0abb8001654c14bf,0x15663f6b20fb1d842b1b92897d7f16b91ebe8bbc,1,0,False,2022-07-13 19:12:57

In [32]:
dao_members_df.reset_index(inplace = True, drop = True)

In [33]:
dao_members_df.shape

(23712, 6)

### Proposals

In [34]:
dao_proposals_df = pd.read_feather('datawarehouse/daohaus/proposals.arr')
dao_proposals_df

,network,id,createdAt,proposalId,molochAddress,memberAddress,proposer,sponsor,sharesRequested,lootRequested,...,paymentRequested,yesVotes,noVotes,sponsored,sponsoredAt,processed,processedAt,didPass,yesShares,noShares
0,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...,1662047614,0,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x0000000000000000000000000000000000000000,50,0,...,0,0,0,False,None,False,None,False,0,0
1,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...,1662048470,1,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,50,0,...,0,1,0,True,1662048521,False,None,False,1,0
2,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,1642252357,0,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,0,0,...,0,0,0,False,None,False,None,False,0,0
3,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,1642252710,1,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,1,0,...,0,0,0,False,None,False,None,False,0,0
4,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,1642253135,2,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,10,0,...,0,0,0,False,None,False,None,False,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45453,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-pro...,1641694325,6,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0x0ea26051f7657d59418da186137141cea90d0652,0x0ea26051f7657d59418da186137141cea90d0652,0x0ea26051f7657d59418da186137141cea90d0652,4,0,...,0,1,0,True,1641694390,True,1642425245,True,1,0
45454,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-pro...,1661893810,60,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0x0ea26051f7657d59418da186137141cea90d0652,0x0ea26051f7657d59418da186137141cea90d0652,0x0ea26051f7657d59418da186137141cea90d0652,0,0,...,0,5,0,True,1661893910,True,1662692755,True,22,0
45455,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-pro...,1642142360,7,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0x0ea26051f7657d59418da186137141cea90d0652,0x0ea26051f7657d59418da186137141cea90d0652,0x0ea26051f7657d59418da186137141cea90d0652,5,0,...,0,1,0,True,1642142425,True,1642897095,True,1,0
45456,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-pro...,1642963235,8,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0x0000000000000000000000000000000000000000,0x535d64eb74a24883944c9a44c02a2733f929bfff,0x0ea26051f7657d59418da186137141cea90d0652,1,0,...,0,1,0,True,1642963380,True,1643732800,True,1,0
45457,xdai,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd-pro...,1643089365,9,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,0x0000000000000000000000000000000000000000,0x8ca1d854844abc67aec8dcbf415bb8604476e414,0x0ea26051f7657d59418da186137141cea90d0652,8,0,...,0,1,0,True,1643089460,True,1643808070,True,1,0

In [35]:
dao_proposals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45458 entries, 0 to 45457
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   network           45458 non-null  object
 1   id                45458 non-null  object
 2   createdAt         45458 non-null  object
 3   proposalId        45458 non-null  object
 4   molochAddress     45458 non-null  object
 5   memberAddress     45458 non-null  object
 6   proposer          45458 non-null  object
 7   sponsor           45458 non-null  object
 8   sharesRequested   45458 non-null  object
 9   lootRequested     45458 non-null  object
 10  tributeOffered    45458 non-null  object
 11  paymentRequested  45458 non-null  object
 12  yesVotes          45458 non-null  object
 13  noVotes           45458 non-null  object
 14  sponsored         45458 non-null  bool
 15  sponsoredAt       18579 non-null  object
 16  processed         45458 non-null  bool
 17  processedAt       17368 non-null  object
 18  didPass           45458 non-null  bool
 19  yesShares         45458 non-null  object
 20  noShares          45458 non-null  object
dtypes: bool(3), object(18)
memory usage: 6.4+ MB

In [36]:
dao_proposals_df['createdAt'] = pd.to_datetime(dao_proposals_df['createdAt'], unit='s')
dao_proposals_df.head()

,network,id,createdAt,proposalId,molochAddress,memberAddress,proposer,sponsor,sharesRequested,lootRequested,...,paymentRequested,yesVotes,noVotes,sponsored,sponsoredAt,processed,processedAt,didPass,yesShares,noShares
0,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...,2022-09-01 15:53:34,0,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x0000000000000000000000000000000000000000,50,0,...,0,0,0,False,None,False,None,False,0,0
1,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...,2022-09-01 16:07:50,1,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,50,0,...,0,1,0,True,1662048521,False,None,False,1,0
2,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,2022-01-15 13:12:37,0,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,0,0,...,0,0,0,False,None,False,None,False,0,0
3,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,2022-01-15 13:18:30,1,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,1,0,...,0,0,0,False,None,False,None,False,0,0
4,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,2022-01-15 13:25:35,2,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,10,0,...,0,0,0,False,None,False,None,False,0,0

In [37]:
# Only proposals from the selected DAOs.
dao_proposals_df = dao_proposals_df[dao_proposals_df['molochAddress'].isin(dao_list)]

In [38]:
dao_proposals_df.createdAt.describe(datetime_is_numeric=True)

count                            45458
mean     2021-09-30 04:29:46.684236032
min                2019-02-15 01:58:05
25%      2021-10-26 12:45:28.750000128
50%                2021-10-30 03:43:45
75%      2021-11-15 05:00:31.249999872
max                2022-09-24 00:28:23
Name: createdAt, dtype: object

In [39]:
dao_proposals_df['processedAt'] = pd.to_datetime(dao_proposals_df['processedAt'], unit='s')
dao_proposals_df.head()

,network,id,createdAt,proposalId,molochAddress,memberAddress,proposer,sponsor,sharesRequested,lootRequested,...,paymentRequested,yesVotes,noVotes,sponsored,sponsoredAt,processed,processedAt,didPass,yesShares,noShares
0,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...,2022-09-01 15:53:34,0,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x0000000000000000000000000000000000000000,50,0,...,0,0,0,False,None,False,NaT,False,0,0
1,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...,2022-09-01 16:07:50,1,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,50,0,...,0,1,0,True,1662048521,False,NaT,False,1,0
2,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,2022-01-15 13:12:37,0,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,0,0,...,0,0,0,False,None,False,NaT,False,0,0
3,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,2022-01-15 13:18:30,1,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,1,0,...,0,0,0,False,None,False,NaT,False,0,0
4,arbitrum,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,2022-01-15 13:25:35,2,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x0000000000000000000000000000000000000000,10,0,...,0,0,0,False,None,False,NaT,False,0,0

In [40]:
dao_proposals_df = dao_proposals_df[["id", "proposalId", "proposer", "memberAddress", "molochAddress", 
                                     "paymentRequested", "processed", "processedAt", "yesVotes", "noVotes",
                                     "didPass", "createdAt"]]

In [41]:
dao_proposals_df.rename(columns = {'molochAddress':'daoAddress', 'proposalId':'proposalCode', 
                                   'id':'proposalId'}, inplace = True)
dao_proposals_df.head()

,proposalId,proposalCode,proposer,memberAddress,daoAddress,paymentRequested,processed,processedAt,yesVotes,noVotes,didPass,createdAt
0,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...,0,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0,False,NaT,0,0,False,2022-09-01 15:53:34
1,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...,1,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x8435d0a8f19f748cba91863b70eb986895ee4b49,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0,False,NaT,1,0,False,2022-09-01 16:07:50
2,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,0,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0,False,NaT,0,0,False,2022-01-15 13:12:37
3,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,1,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0,False,NaT,0,0,False,2022-01-15 13:18:30
4,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9-pro...,2,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,0,False,NaT,0,0,False,2022-01-15 13:25:35

In [42]:
dao_proposals_df.reset_index(inplace = True, drop = True)

In [43]:
# Select only the proposals of the last year.
dao_proposals_df = dao_proposals_df[dao_proposals_df.createdAt.between('2021-09-01', '2022-09-01')]

In [44]:
dao_proposals_df.reset_index(inplace = True, drop = True)

In [45]:
dao_proposals_df.shape

(36764, 12)

In [46]:
dao_proposals_df.createdAt.describe()

count                   36764
unique                  22671
top       2021-10-28 15:31:25
freq                       45
first     2021-09-01 00:36:30
last      2022-08-31 20:28:30
Name: createdAt, dtype: object

In [47]:
# Get the new DAO list according to the proposals of the last year.
dao_proposals_np = dao_proposals_df.daoAddress.values
dao_proposals_np

array(['0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9',
       '0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9',
       '0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9', ...,
       '0xffe8a8ec2477390c6b97074f44326fac24d7f6dd',
       '0xffe8a8ec2477390c6b97074f44326fac24d7f6dd',
       '0xffe8a8ec2477390c6b97074f44326fac24d7f6dd'], dtype=object)

In [48]:
dao_proposals_np = np.unique(dao_proposals_np)

In [49]:
dao_proposals_list = dao_proposals_np.tolist()

In [50]:
len(dao_proposals_list)

945

In [51]:
# Discard DAOs that are not in the new DAO list.
daos_df = daos_df[daos_df['daoAddress'].isin(dao_proposals_list)]

In [52]:
daos_df.reset_index(inplace = True, drop = True)
daos_df.head()

,daoAddress,name,network,createdAt
0,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,Cats DAO,arbitrum,2022-01-15 12:59:12
1,0x26f43f0511f65c9e9c4ef7d6c444c986f5513265,Space Crew,arbitrum,2022-04-17 20:19:22
2,0x47839e5373cd204f96d49d3a253c0433a2a5f038,CTRL (arbitrum),arbitrum,2021-11-22 14:19:53
3,0x751eda5aa0a1c026f51942e266ed82795428ae34,Fraktal,arbitrum,2021-11-02 21:41:58
4,0xea9916a3e6a28eca1c551ee3e78737336068395e,MC NFT Arboretum,arbitrum,2021-11-09 22:52:33

In [53]:
# Discard members that are not in the new DAO list.
dao_members_df = dao_members_df[dao_members_df['daoAddress'].isin(dao_proposals_list)]

In [54]:
dao_members_df.reset_index(inplace = True, drop = True)
dao_members_df.head()

,memberAddress,daoAddress,shares,loot,didRagequit,createdAt
0,0x54c375c481f95ba43e2cecd6ef30631f55518f57,0x15909f6e92e32a6c3187fad2f7ea91f2b3dfdcf9,500000,0,False,2022-01-15 12:59:12
1,0x15c560d2d9eb3af98524aa73becba43e9e6cef02,0x26f43f0511f65c9e9c4ef7d6c444c986f5513265,600,0,False,2022-04-17 20:19:22
2,0x17fba501df40e83605d01fbef7f68174537e361a,0x26f43f0511f65c9e9c4ef7d6c444c986f5513265,600,0,False,2022-04-17 20:19:22
3,0x85c0fea4a2a6de02a2d51108340cf4f08072d3ff,0x26f43f0511f65c9e9c4ef7d6c444c986f5513265,600,0,False,2022-04-17 20:19:22
4,0xa3d7c306e182121e63cb5258b27e35f11f70c4e5,0x26f43f0511f65c9e9c4ef7d6c444c986f5513265,600,0,False,2022-04-17 20:19:22

### Voters

In [55]:
dao_voters_df = pd.read_feather('datawarehouse/daohaus/votes.arr')
dao_voters_df.head()

,network,id,createdAt,molochAddress,memberAddress,uintVote,proposalAddress
0,arbitrum,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-mem...,1662062323,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9,0x8435d0a8f19f748cba91863b70eb986895ee4b49,1,0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9-pro...
1,arbitrum,0x751eda5aa0a1c026f51942e266ed82795428ae34-mem...,1636740912,0x751eda5aa0a1c026f51942e266ed82795428ae34,0x46ec2102eb83ef52a1193489d52f22d6c1b1b97d,2,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...
2,arbitrum,0x751eda5aa0a1c026f51942e266ed82795428ae34-mem...,1638118727,0x751eda5aa0a1c026f51942e266ed82795428ae34,0x46ec2102eb83ef52a1193489d52f22d6c1b1b97d,1,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...
3,arbitrum,0x751eda5aa0a1c026f51942e266ed82795428ae34-mem...,1636739724,0x751eda5aa0a1c026f51942e266ed82795428ae34,0x77fa39f3adf09bde9d4f175e40d0854d21a33318,1,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...
4,arbitrum,0x751eda5aa0a1c026f51942e266ed82795428ae34-mem...,1638462153,0x751eda5aa0a1c026f51942e266ed82795428ae34,0x77fa39f3adf09bde9d4f175e40d0854d21a33318,1,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...

In [56]:
dao_voters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45807 entries, 0 to 45806
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   network          45807 non-null  object
 1   id               45807 non-null  object
 2   createdAt        45807 non-null  object
 3   molochAddress    45807 non-null  object
 4   memberAddress    45807 non-null  object
 5   uintVote         45807 non-null  int64
 6   proposalAddress  45807 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.4+ MB

In [57]:
# Convert to datetime
dao_voters_df['createdAt'] = pd.to_datetime(dao_voters_df['createdAt'], unit='s')

In [58]:
dao_voters_df = dao_voters_df[dao_voters_df.proposalAddress.isin(dao_proposals_df["proposalId"])]

In [59]:
dao_voters_df.reset_index(inplace = True, drop = True)

In [60]:
dao_voters_df = dao_voters_df[dao_voters_df.molochAddress.isin(dao_proposals_list)]

In [61]:
dao_voters_df = dao_voters_df[["proposalAddress", "memberAddress", "molochAddress", 
                               "uintVote", "createdAt"]]

In [62]:
dao_voters_df.rename(columns = {'molochAddress':'daoAddress', 'uintVote':'totalVotes', 
                                'proposalAddress':'proposalId'}, inplace = True)
dao_voters_df.head()

,proposalId,memberAddress,daoAddress,totalVotes,createdAt
0,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x46ec2102eb83ef52a1193489d52f22d6c1b1b97d,0x751eda5aa0a1c026f51942e266ed82795428ae34,2,2021-11-12 18:15:12
1,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x46ec2102eb83ef52a1193489d52f22d6c1b1b97d,0x751eda5aa0a1c026f51942e266ed82795428ae34,1,2021-11-28 16:58:47
2,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x77fa39f3adf09bde9d4f175e40d0854d21a33318,0x751eda5aa0a1c026f51942e266ed82795428ae34,1,2021-11-12 17:55:24
3,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x77fa39f3adf09bde9d4f175e40d0854d21a33318,0x751eda5aa0a1c026f51942e266ed82795428ae34,1,2021-12-02 16:22:33
4,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x77fa39f3adf09bde9d4f175e40d0854d21a33318,0x751eda5aa0a1c026f51942e266ed82795428ae34,1,2021-12-14 02:12:55

In [63]:
dao_voters_df.reset_index(inplace = True, drop = True)
dao_voters_df.head()

,proposalId,memberAddress,daoAddress,totalVotes,createdAt
0,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x46ec2102eb83ef52a1193489d52f22d6c1b1b97d,0x751eda5aa0a1c026f51942e266ed82795428ae34,2,2021-11-12 18:15:12
1,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x46ec2102eb83ef52a1193489d52f22d6c1b1b97d,0x751eda5aa0a1c026f51942e266ed82795428ae34,1,2021-11-28 16:58:47
2,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x77fa39f3adf09bde9d4f175e40d0854d21a33318,0x751eda5aa0a1c026f51942e266ed82795428ae34,1,2021-11-12 17:55:24
3,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x77fa39f3adf09bde9d4f175e40d0854d21a33318,0x751eda5aa0a1c026f51942e266ed82795428ae34,1,2021-12-02 16:22:33
4,0x751eda5aa0a1c026f51942e266ed82795428ae34-pro...,0x77fa39f3adf09bde9d4f175e40d0854d21a33318,0x751eda5aa0a1c026f51942e266ed82795428ae34,1,2021-12-14 02:12:55

In [64]:
dao_voters_df.shape

(32135, 5)